<h1>Learn Something today</h1>

<% @courses.each do |course| %>
	<h2><%= link_to course.title, course_path(course) %></h2>
	<%= course.description %>
	<%= link_to 'More Details', course_path(course), :class => 'btn btn-primary btn-large' %>

<% end %>